{% render 'partials/head.liquid' %}







  <main class="student-card">
    <section>
      <div class="card-content">
        <img class="hva-logo" src="./assets/HVA-logo.webp" alt="hva logo">
        <h1>Collegekaart / student card</h1>
        <p>stud.nr / . no. {{ person.custom.student_number  }}</p>
        <p>Exp. dat. SEP 2030</p>
        <p>{{ person.name }}</p>
        <p class="card-number">Pas nr. / no. 00183974739</p>
      </div>
    </section>
  
    <img class="avatar" src="./assets/avataaars.svg" alt="Avatar">

    <span class="shape"></span>
  </main>
  
  
  <script src="script/script.js"></script>
  

{% render 'partials/foot.liquid' %}
